<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configuração de conexão com o bando de dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/spring</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Pool de conexão -->
		<!-- <property name="connection.pool_size">1</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do contexto da sessao -->
	<!-- 	<property name="current_session_context_class">thread</property> -->

		<!-- Cache de segundo nivel -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

		<!-- Mostrar as SQls geradas -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>

		<!-- criar as tabelas do banco -->
		<property name="hbm2ddl.auto">update</property>
		
		<mapping class="com.model.Contato"/>
		
	</session-factory>

</hibernate-configuration>